*.iml
*.ipr
*.iws
.idea/
.DS_Store
.atom/
.vscode/
doc/api
packages
.packages
pubspec.lock
.pub/
.dart_tool/
build/
ios/.generated/
.flutter-plugins
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map
*.g.dart